@layer appui.component {
  .nz-widget-widgetContentLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &[data-hide-dividers="true"] {
      .nz-widget-widgetContentLayout-header {
        padding-block-end: calc(var(--iui-size-s) / 2);
      }
      .nz-widget-widgetContentLayout-body {
        padding-block: calc(var(--iui-size-s) / 2);
      }
      .nz-widget-widgetContentLayout-footer {
        padding-block-start: calc(var(--iui-size-s) / 2);
      }
    }
  }
  .nz-widget-widgetContentLayout-header {
    display: flex;
    flex-direction: column;
    gap: var(--iui-size-s);
    padding: var(--iui-size-s);
  }

  .nz-widget-widgetContentLayout-body_wrapper {
    position: relative;
    flex: 1;
    height: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .nz-widget-widgetContentLayout-progress {
      padding-inline: var(--iui-size-s);
    }

    .nz-widget-widgetContentLayout-body {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: var(--iui-size-s);
      flex: 1;
      overflow: auto;
      padding: var(--iui-size-s);
    }
  }

  .nz-widget-widgetContentLayout-footer {
    display: flex;
    gap: var(--iui-size-s);
    justify-content: flex-end;
    width: 100%;
    padding: var(--iui-size-s);
  }

  .nz-widget-widgetContentLayout-loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }

  .nz-widget-widgetContentLayout-divider {
    margin-inline: var(--iui-size-s);
  }
}
