# Convert all line endings for files detected as text to lf to avoid OS specific
# line endings showing up in git diffs
*                                             text=auto eol=lf

# Ensure these file types use the correct OS specific line endings
*.bat                                         eol=crlf
*.sh                                          eol=lf
*.snap                                        eol=lf
