registry=https://registry.npmjs.org/
@bentley:registry=https://registry.npmjs.org/
always-auth=true

prefer-offline=true
auto-install-peers=false
strict-peer-dependencies=false
shell-emulator=true
prefer-workspace-packages=true

# store-dir=./.pnpm-store