# build output
lib
build

# rush specific
.rush
common/api
common/config/rush
common/scripts/install-run-rush.js
common/scripts/install-run-rushx.js
common/scripts/install-run.js
common/temp
CHANGELOG.json
CHANGELOG.md

# pnpm specific
pnpm-lock.yaml

# codemod specific
__testfixtures__
