# build output
lib
build
coverage
dist

# rush specific
.rush
common/api
common/changes
common/config/rush
common/scripts/install-run-rush-pnpm.js
common/scripts/install-run-rush.js
common/scripts/install-run-rushx.js
common/scripts/install-run.js
common/temp
CHANGELOG.json
CHANGELOG.md

# pnpm specific
pnpm-lock.yaml

# codemod specific
__testfixtures__

# storybook specific
storybook-static
