# iTwin.js Core CI Build

trigger:
  - master
  - release/*

variables:
  - group: Rush Build Cache SAS Token
  - name: shouldWriteToCache
    value: ${{ and(eq(variables['Agent.OS'], 'Linux'), in(variables['Build.Reason'], 'IndividualCI', 'Manual')) }}

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**.md"
      - docs/**
      - .github/CODEOWNERS

jobs:
  - template: ci-core.yaml
    parameters:
      name: Node_18
      nodeVersion: 18.14.0
      pool:
        vmImage: $(OS)
