# The following build handles everything needed to bump the versions of iTwin.js AppUi packages that are using individual version definition.

parameters:
  - name: VersionPolicy
    displayName: Version Policy
    type: string
    default: "monorepo-individual"
    values:
      - monorepo-individual

variables:
  - group: Caleb - iTwin GitHub Token

trigger: none
pr: none

pool:
  vmImage: ubuntu-latest

jobs:
  - job: Bump
    displayName: Bump Version
    steps:
      - checkout: self

      - task: NodeTool@0
        displayName: Use Node 18.x
        inputs:
          versionSpec: 18.x
          checkLatest: true

      - bash: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin
        displayName: Setup Git

      - bash: "node common/scripts/install-run-rush version --bump --version-policy ${{ parameters.VersionPolicy }}"
        displayName: Rush version --bump

      - bash: "git add ."
        displayName: Git add

      - bash: |
          echo Committing version bump for ${{ parameters.VersionPolicy }}...

          git commit -m "Bump '${{ parameters.VersionPolicy }}'" --author="imodeljs-admin <imodeljs-admin@users.noreply.github.com>"
        displayName: Commit version bump

      - bash: "git push https://$(GITHUBTOKEN)@github.com/iTwin/appui HEAD:$(Build.SourceBranch)"
        displayName: Push version bump
