/*---------------------------------------------------------------------------------------------
 * Copyright (c) Bentley Systems, Incorporated. All rights reserved.
 * See LICENSE.md in the project root for license terms and full copyright notice.
 *--------------------------------------------------------------------------------------------*/
@use "~@itwin/core-react/lib/core-react/z-index" as *;
@use "../../layout/widgetopacity" as *;

@layer appui.preview {
  .uifw-preview-widgetTabActions-widget_wrapper {
    flex: 1;

    &.uifw-floating {
      position: absolute;
      min-width: 200px;
      min-height: 120px;

      @include uicore-z-index(dragged-widget);
      @include nz-widget-opacity;
    }
  }

  .uifw-preview-widgetTabActions-widget_tab {
    grid-template:
      "label icon"
      "description icon" minmax(0, auto) / minmax(min-content, 1fr) auto;
    min-inline-size: min-content;
  }

  .uifw-preview-widgetTabActions-widget_panel {
    padding: 0;
  }

  .uifw-preview-widgetTabActions-widget_decoration {
    margin-inline-start: var(--iui-size-2xs);

    &[data-_appui-action="true"] {
      anchor-name: --_appui-tab-action;
    }
  }

  @supports (anchor-name: --_appui-tab-action) {
    .uifw-preview-widgetTabActions-widget_action {
      &:where([data-_appui-anchor="true"]) {
        position: absolute;
        position-anchor: --_appui-tab-action;
        right: anchor(right);
        align-self: anchor-center;
      }
    }
  }
}
