.nz-widget-widgetContentLayout-header-headerLayout {
  --icon-size: 36px;
  --max-search-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--stratakit-space-x3);
  container: header-layout / inline-size;

  .nz-menu {
    width: 100%;
    max-width: 560px;
  }

  .nz-buttons {
    display: flex;
    gap: var(--stratakit-space-x3);
    align-items: center;

    width: 100%;
    max-width: 560px;
    & > button {
      overflow: auto;
      min-width: fit-content;
    }
  }

  .nz-title {
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .nz-remainingItems {
    overflow-x: auto;

    .nz-buttons {
      flex-wrap: wrap;
    }
  }

  .nz-headerFirstRowWrapper {
    display: flex;
    gap: var(--stratakit-space-x3);
    width: 100%;

    // .nz-header-first-row-root.single-column .nz-header-buttons {
    //   flex-wrap: wrap;
    // }
  }
}
