# test-app environment variables

#-------------------------------------
# Recommended
#-------------------------------------
# Set to directory containing your local `.bim` files.
IMJS_BIM_DIR=
# Application client ID used by the authorization client. Find at developer.bentley.com.
IMJS_APP_CLIENT_ID=
# Application redirect URI used by the authorization client. Find at developer.bentley.com.
IMJS_APP_REDIRECT_URI=
# Application scopes used by the authorization client. Find at developer.bentley.com.
IMJS_APP_SCOPE=
# Access token for the `MapboxImagery` used in the map layer options.
IMJS_MAPBOX_KEY=
# Key for the `BingMaps`used in the map layer options.
IMJS_BING_MAPS_KEY=
# The API key supplying access to Cesium ION assets. Used by the `IModelApp.tileAdmin`.
IMJS_CESIUM_ION_KEY=

#-------------------------------------
# Optional
#-------------------------------------
# ID (in form "0x1a8") of the view to display. If not specified a default view ID is located and used.
IMJS_IMODEL_VIEWID=
# If defined, do not open the electron dev tools on startup.
IMJS_ELECTRON_NO_DEV_TOOLS=
# Used to toggle the environments.
IMJS_URL_PREFIX=
# Used by the tests to avoid IPC app initialization
IMJS_TESTS=
