.nz-header-top-right-root {
  .nz-button-group {
    gap: var(--os-gap);
    &:before {
      content: "";
      flex: 1;
    }

    & > :first-child {
      margin-inline-start: calc(-1 * var(--os-gap));
    }

    .nz-icon-button[data-iui-active="true"]:after {
      inset-block: unset;
    }
  }
}
