name: Release packages (changeset)

on:
  push:
    branches:
      - master

env:
  NPM_CONFIG_PROVENANCE: true

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - run: pnpm install

      - name: Create release PR or publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm release
          title: Release packages [publish docs]
          commit: Release packages [publish docs]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
          GIT_AUTHOR_NAME: imodeljs-admin
          GIT_AUTHOR_EMAIL: imodeljs-admin@users.noreply.github.com
          GIT_COMMITTER_NAME: imodeljs-admin
          GIT_COMMITTER_EMAIL: imodeljs-admin@users.noreply.github.com
